<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsmy.datastatistics.dao.ReceiveStatMapper">
  <resultMap id="BaseResultMap" type="com.hsmy.datastatistics.pojo.ReceiveStat">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="STAT_DATE" jdbcType="DATE" property="statDate" />
    <result column="STAT_COUNT" jdbcType="BIGINT" property="statCount" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="duration" jdbcType="BIGINT" property="duration" />
    <result column="IDFA_COUNT" jdbcType="BIGINT" property="idfaCount"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, STAT_DATE, STAT_COUNT, createtime, duration, idfaCount
  </sql>
  <select id="selectByDate" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_RECEIVE_STAT
  </select>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.hsmy.datastatistics.pojo.ReceiveStat">
    insert into T_RECEIVE_STAT (STAT_DATE, STAT_COUNT,
      createtime,duration,IDFA_COUNT)
    values (#{statDate,jdbcType=DATE}, #{statCount,jdbcType=BIGINT},
      now(),#{duration,jdbcType=BIGINT},#{idfaCount,jdbcType=BIGINT})
  </insert>
</mapper>